node_modules
dist
*.ignore
ignore

.DS_Store

config.local.ts
.env.local
.env.local.*

.turbo

vite.config.ts.timestamp*

tmp-package-registry

changesets-summary.json

# DMNO files ###
# local cache for resolved values
**/.dmno/cache.json
# encryption key used for cache
**/.dmno/cache-key.json
# generated type files
**/.dmno/.typegen
# iconify cache used in generated types
**/.dmno/.icon-cache
# local config overrides
**/.dmno/.env.local
# local ssl certs
**/.dmno/certs

