# DMNO Workspace pnpm Configuration

network-timeout=300000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

node-linker=isolated
store-dir=${HOME}/.pnpm-store