.logo-font {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter';
}

/* starlight css var customizations */
:root {}

:root[data-theme='light'] {
  --sl-color-white: hsl(224, 10%, 20%);
}


/* custom colors and vars */
:root {
  --brand-pink: #d100ed;
  --brand-green: #11d632;
  --brand-purple: #743ad5;
}

starlight-file-tree,
.expressive-code {
  /* border-image-source: linear-gradient(to left, var(--brand-green), var(--brand-pink));
  border-image-slice: 1; */
  border-color: var(--brand-purple) !important;
}

/* starlight hero page header, can't add style on mdx file */
.hero h1 {
  font-family: 'Days One';
}



/* CSS RESET! see https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*****************************/
